# User specific files
.vscode/launch.json
.vscode/rad.json
permissionsAnalyzer.json
.snapshots/*
.dts/*

# AL Object Designer Extension
.alcache/*
.vscode/.alcache/*
.altemplates/*
.vscode/.altemplates/*

# Binary app files
/*.app
.alpackages/*.app


